

.page-header {
  margin: 0 auto;
  width: fit-content;
}

.form-container {
  width: 80vw;
  height: 60vh;
  padding: 20px;
  margin: 0 auto;
  border: .5px solid black;
  border-radius: 15px;
  background-color: white;
}

.form-input {
  margin: 0 auto;
  width: fit-content;
}

.form-input label {
  background-color: lightgrey;
  border: .5px solid black;
  min-width: 14vw;
  height: 40px;
  text-align: center;
}

.form-input input {
  width: 50vw;
  height: 40px
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid black;
  padding: 10px 30px;
  background-color: white;
}

.nav-logo {
  justify-self: left;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 25vw;
}

.add-btn {
  width: fit-content;
  margin: 0 auto;
}

.add-btn button {
  height: 40px;
  width: 175px;
  background-color: white;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.5rem;
}

.add-btn button:hover {
  background-color: grey;
  color: white
}



.card-content {
  background-color: white;
  border-radius: 15px;
  width: 60vw;
  padding: 15px;
  margin: 15px auto;
}